# Godot 4+ specific ignores
.godot/
.vscode/
.idea/
build/
!build/macos/libCoreGame.dylib
!build/windows/libCoreGame.dll
!build/linux/libCoreGame.so
dist/
.DS_Store
!.gdignore
profiler.json
.savings
templates/