# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf
libCoreGame.dll filter=lfs diff=lfs merge=lfs -text
libCoreGame.dylib filter=lfs diff=lfs merge=lfs -text
libCoreGame.so filter=lfs diff=lfs merge=lfs -text
